
    <StackLayout>
      <StackLayout class="search-container" orientation="horizontal" horizontalAlignment="left" verticalAlignment="top">
        <Button class="boton bt1" text="Publicar" tap="onLoginTap"></Button>
        <TextField class="search-field" hint="Buscar"></TextField>
      </StackLayout>
        <AbsoluteLayout>
            <label backgroundColor="#000000"></label>
            <Image  src="res://fondo2" top="25" left="6" stretch="aspectFill" width="400" verticalAlignment="center"  class="loo"></Image>
        </AbsoluteLayout>
    </StackLayout>

