@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.boton {
    background-color: #5C8313;
    color: #ffffff;
    border-radius: 50;
    width: 40%;
    height: 60;
    font-weight: bold;
    font-size: 18;
    margin-left: 30;
    margin-right: 10; /* añade un poco de separación entre el botón y el TextField */
    margin-top: 20;
  }
  
  .search-field {
    font-size: 18;
    font-weight: bold;
    height: 60;
    color: #000000 ;
    width: 40%; /* reduce el ancho para que haya suficiente espacio para el botón y la separación */
    border-width: 1;
    border-color: #707070;
    border-radius: 50;
    padding-left: 40;
    margin-top: 20;
    background-color: #f4f4f4;
  }

.rectangulo{
    border-top: 100000000000000;
}
