<ScrollView>
<ActionBar>
  <Label text="Home"></Label>
</ActionBar>
<StackLayout>
<Image class="logo" src="res://componente" stretch="aspectFit" verticalAlignment="center" horizontalAlignment="center"></Image>
<Page xmlns="http://schemas.nativescript.org/tns.xsd">
  <StackLayout>
    <StackLayout orientation="horizontal" class="textfield-container f-style">
      
      <TextField  hint="Email" keyboardType="email">
        <Image  class="in" src="res://union" stretch="logo" verticalAlignment="center"  class="loo"></Image>
      </TextField>
    </StackLayout>
    <StackLayout orientation="horizontal" class="textfield-container f-style">
      
      <TextField  hint="Contraseña" secure="true">
        <Image  class="in" src="res://candado" stretch="logo" verticalAlignment="center"  class="loo"></Image>
      </TextField>
    </StackLayout>
    <Button [nsRouterLink]="['/inicio']" class="boton bt1" text="Iniciar sesión" tap="onLoginTap" ></Button>
  </StackLayout>
</Page>
<Label text="¿Aún no tienes cuenta?" class="txt" horizontalAlignment="center"></Label>
<label [nsRouterLink]="['/register']" text="Regístrate aquí" class="txt registerHere" horizontalAlignment="center"></label>
</StackLayout>
</ScrollView>